<div class="app search-i" [dir]="layoutDir" [ngClass]="[ menuLayout, selectedSidebarImage, selectedSidebarColor, selectedHeaderColor, collapsedClass]" [class.app-dark]="dark" [class.boxed]="boxed" [class.collapsed-sidebar]="collapseSidebar" [class.compact-sidebar]="compactSidebar" [class.bg-img-disable]="!sidebarBg">
    <mat-sidenav-container class="app-inner">
        <mat-sidenav #sidemenu class="sidebar-panel" id="sidebar-panel" [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" (mouseover)="menuMouseOver()" (mouseout)="menuMouseOut()">
           <div class="opt-side relative ">
               <div class="sidebar-container">

                    <mat-accordion displayMode="flat">
                        <mat-expansion-panel expanded=true>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Welcome</mat-panel-title>
                            </mat-expansion-panel-header>
                                                        
                            <mat-card style="height:100%">
                                <mat-card-content style="text-align: center; height:100%">
                                    Video / Animation goes here....<hr>
                                    <img src="assets/images/rainyday.gif" class="leadAnimation">
                                </mat-card-content>
                            </mat-card>

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Our Running Blockchain</mat-panel-title>
                            </mat-expansion-panel-header>     

                            <mat-card>
                                <mat-card-content style="height: calc(100vh - 250px);">
                                    <iframe src="https://explorer.puremoneysystems.com/" class="blockchainViewer"></iframe>
                                </mat-card-content>
                            </mat-card>

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Invest in Black Insurance</mat-panel-title>
                            </mat-expansion-panel-header>
                                                        
                            <mat-card style="height:100%">
                                <mat-card-content>
                                    Investor survey / link here....
                                </mat-card-content>
                            </mat-card>

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Join our Dev Community</mat-panel-title>
                            </mat-expansion-panel-header>
                                                        
                            <mat-card style="height:100%">
                                <mat-card-content style="text-align: center;height:100%">
                                    <span>Look at the code for our Platform : </span><a href="https://github.com/BlackInsurance/" target="_blank"><img src="assets/images/github-logo.png" class="githubLogo"></a>
                                    <hr>
                                    <span>Want to help develop our Platform?  </span><a href="https://slack.com/" target="_blank"><img src="assets/images/slack-logo.png" class="slackLogo"></a>
                                </mat-card-content>
                            </mat-card>

                        </mat-expansion-panel>
                    </mat-accordion>
                          

               </div>
           </div>
        </mat-sidenav>
        <mat-toolbar class="main-header">
            <div class="horizontal-top-bar w-100">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100">
                    <div class="horizontal-logo">
                        <div class="branding text-center">
                            <h2><i class="fa fa-superpowers" aria-hidden="true"></i> <span> Black Insurance</span></h2>
                        </div>
                    </div>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100">
                  Rainy Day Insurance Game
                </div>
            </div>
            <div class="vertical-menu w-100">
                <button (click)="menuToggleFunc()" mat-icon-button class="lines-btn">
                    <mat-icon>menu</mat-icon>
                </button>
                <span fxFlex></span>
                <mat-form-field>
                    <mat-select placeholder="Language" class="mt-1" [(ngModel)]="currentLang" #langSelect="ngModel" (ngModelChange)="translate.use(currentLang)">
                        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-toolbar>
        <perfect-scrollbar class="body-container">
            <router-outlet></router-outlet>
        </perfect-scrollbar>
    </mat-sidenav-container>
</div>