
<div class="fullscreen-nav">
    <div class="topnav">
        <img class="logo" src="./assets/images/blck-logo.png" width="120" />
        <div class="close-icon nav-trigger-close" (click)="closeNavMenu()">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="menu-wrapper">
        <div class="menu">
            <div class="menu--item">
                <a href="#">Our Blockchain</a>
            </div>
            <div class="menu--item">
                <a href="#">Buy BLCK tokens</a>
            </div>
            <div class="menu--item">
                <a href="#">Contact us</a>
            </div>
            <div class="menu--item social">
                <a href="https://github.com/BlackInsurance/"><img src="./assets/images/git.png" width="70" /></a>
                <a href="http://reddit.com/submit?url=Get%20free%20cryptocurrency%20and%20test%20the%20Black%20Insurance%20platform%20with%20a%20free%20'Rainy%20Day'%20insurance%20policy.&title=Black%20Insurance%20launches%20the%20%22Rainy%20Day%22%20insurance%20prototype" class="middle"><img src="./assets/images/icon2.png" width="70" /></a>
                <a href="#"><img src="./assets/images/telegram.png" width="70" /></a>
            </div>
        </div>
    </div>
    <div class="nav-footer">
        <h3>Black Fountation OÜ</h3>
        <p>Lõõtsa 8, 11415 Tallinn, Estonia</p>
    </div>
</div>

<router-outlet></router-outlet>