.newPolicyForm {
    min-width: 150px;
    width: 100%;
}
  
.newPolicyForm .inputControl {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: initial;
}


.newPolicyForm .introduction {

}
.newPolicyForm .introduction .title {
    font-size: 1.25em;
}
.newPolicyForm .introduction .listContainer {
    
}
.newPolicyForm .introduction .listContainer LI {
    font-size: 1em;
}
.newPolicyForm .introduction .listContainer A {
    font-size: 1em;
    text-decoration: underline;
}
.newPolicyForm .introduction .listContainer A:hover{
    text-decoration: unset;
}
.newPolicyForm .buttons {
    display: block;
    float: right;
    position: relative;
    width: 100%;
    text-align: right;
}


.newPolicyForm .mat-expansion-panel-header-title, 
.newPolicyForm .mat-expansion-panel-header-description {
    flex-basis: 0;
}


.newPolicyForm .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
