
<div class="custom-autocomplete" *ngIf="!isSettingsError">
    <div class="custom-autocomplete__container" >
        <mat-form-field appearance="{{settings.appearance}}" class="{{settings.className}}">
            <mat-label class="label">{{settings.inputPlaceholderText}}</mat-label>
            <input matInput [(ngModel)]="locationInput" (click)="searchinputClickCallback($event)"  (keyup)="searchinputCallback($event)"
            id="search_places" autocomplete="off">
            <mat-icon matSuffix (click)="userQuerySubmit()">search</mat-icon>
            <mat-error *ngIf="isSettingsError">{{settingsErrorMsg}}</mat-error>
        </mat-form-field>
    </div>
    <ul class="custom-autocomplete__dropdown" *ngIf="dropdownOpen && (settings.showCurrentLocation || queryItems.length)">
        <li *ngIf="settings.showCurrentLocation" class="currentlocation">
        <a href="javascript:;" (click)="currentLocationSelected()">
            <i class="location-icon" *ngIf="settings.currentLocIconUrl" [ngStyle]="{'background-image': 'url(' + settings.currentLocIconUrl + ')'}"></i>Use Current Location
            <i class="location-icon current-default-icon" *ngIf="!settings.currentLocIconUrl"></i>
        </a>
        </li>
        <li class="heading heading-recent" *ngIf="!recentDropdownOpen && queryItems.length"><span>Locations</span><span class="line line-location"></span></li>
        <li class="heading heading-recent" *ngIf="recentDropdownOpen && queryItems.length">
        <span>Recent Searches</span><span class="line line-recent"></span>
        </li>
        <li *ngFor = "let data of queryItems;let $index = index" [ngClass]="{'active': data.active}">
        <a href="javascript:;" (mouseover)="activeListNode($index)" (click)="selectedListNode($index)">
            <i class="custom-icon" *ngIf="settings.locationIconUrl" [ngStyle]="{'background-image': 'url(' + settings.locationIconUrl + ')'}"></i>
            <i class="custom-icon location-default-icon" *ngIf="!settings.locationIconUrl"></i>
            <span class="main-text">
                {{data.structured_formatting?.main_text ? data.structured_formatting.main_text : data.description}}
            </span>
            <span class="secondary_text" *ngIf="data.structured_formatting?.secondary_text">{{data.structured_formatting.secondary_text}}</span>
        </a>
        </li>
        <li>
            <img src="https://developers.google.com/maps/documentation/images/powered_by_google_on_white.png">
        </li>
    </ul>
</div>